global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  
  - job_name: 'acme-corp-app'
    static_configs:
      - targets: ['10.0.10.141:5000']
    metrics_path: '/metrics'
    relabel_configs:
      - target_label: tenant
        replacement: 'acme-corp'
  
  - job_name: 'closed-ai-app'
    kubernetes_sd_configs:
      - role: pod
        namespaces:
          names:
            - closed-ai
    relabel_configs:
      - source_labels: [__meta_kubernetes_pod_label_app]
        action: keep
        regex: 'closed-ai-app'
      - target_label: tenant
        replacement: 'closed-ai'
    metrics_path: '/metrics'
